* {
    background-color: #F2F2F0;
    font-family: 'Lora', serif;

}

.fizz {
    color: red;
  }
  .buzz {
    color: blue;
  }
  .fizzbuzz {
    color: purple;
  }

button {
    margin: 20px auto;
    background-color: #164059;
    color: white;
    width: 150px;
    text-align: center;
    font-size: 20px;
    position: absolute;
	left: 75%;
	float: left;    
}

h1 {
   color: #071826;
   text-align: center;
}

p {
    color: #071826;
}

 div {

 }